<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        {% if form.errors %}
        <div class="panel panel-default">
            <div class="panel-body">
                Your username and password didn't match.  Please try again
            </div>
        </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <div class="panel panel-default">
                <div class="panel-body">
                    Your account doesn't have access to this page.  To proceed, please login with an account that has access
                </div>
            </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    Please login to see this page
                </div>
            </div>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Login</span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="{{ form.username.name }}">
                        <input type="password" class="form-control" placeholder="Password" name="{{ form.password.name }}">
                    </div>
                </div>

                <div class="text-center"><input class="btn btn-default" type="submit" value="login" /></div>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
</body>
</html>