{% extends 'dashboard/base.html' %}
{% block title %}Eudamonia: Set your profile settings{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-title">
            <div class="panel-heading">
                <h3 class="panel-title">Select your default settings</h3>
            </div>
        </div>
        <div class="panel-body">
            <form class="form" action="{% url 'finish_registration' %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="survey">Default Survey Selection</label>
                        <select class="form-control" name="survey" id="survey">
                            {% for survey in surveys %}
                                <option value="{{survey.id}}">{{ survey.survey_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}