<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Take Survey</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>
<body>
    <div class="container">
        <h1>{{ survey.survey_name }}</h1>
        <form role="form" method="post" action="{% url 'wellness:submit_survey' survey.id %}">
            <div class="panel-group" id="accordion">

                {% csrf_token %}
                {% for question in survey.question_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#question-{{question.id}}" data-toggle="collapse" data-parent="#accordion">
                                {{ question.question_text }}</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse {% if forloop.first %}in{% endif %}" id="question-{{ question.id }}">
                        <div class="panel-body">
                            {% for choice in question.choice_set.all %}
                            <div class="radio"><label class="radio" for="choice{{ forloop.counter }}" >
                                <input type="radio" data-toggle="collapse" data-target="#question-{{question.id|add:'1'}}"
                                       data-parent="#accordion" name="question_{{question.id}}" id="choice{{ forloop.counter }}"
                                       value="{{ choice.id }}"/>
                                {{ choice.choice_text }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center"><input class="btn btn-default" type="submit" value="Submit"></div>
        </form>
    </div>
</body>
</html>