<!DOCTYPE html>
{% load wellness_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellness Graph</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
        #wellness-graph { width: 600px; height: 300px; }
        #choices-graph { width: 600px; height:300px
    </style>
</head>
<body>
    <div class="container-fluid">
    <div id="wellness-graph"></div>
    <div class="text-center" id="wellness-legend"></div>
    <div id="choices-graph"></div>
    <div class="text-center" id="choices-legend"></div>

    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script language="JavaScript">

        $(document).ready(function () {
            data = {label: 'Wellness', data: {{ data|safe }}};

            {% for key in choice_data %}
                {{ key|underscore }} = {label: '{{ key }}',
                                        data: {{ choice_data|get_item:key }},
                                       };
            {% endfor %}

            $.plot($("#wellness-graph"), [data], {
                xaxis: {
                    mode: "time",
                    timezone: "browser",
                    minTickSize: [1, "day"],
                },
                legend: {
                    container: $("#wellness-legend"),
                }

            });

            $.plot($("#choices-graph"), [{% for key in choice_data %}
                {% if forloop.last %}
                    {{ key|underscore }}
                {% else %}
                    {{ key|underscore }},
                {% endif %}{% endfor %}], {
                xaxis: {
                    mode: "time",
                    timezone: "browser",
                    minTickSize: [1, "day"],
                },
                legend: {
                    container: $("#choices-legend"),
                    noColumns: {{ choice_data|length }},
                },
                series: {
                    curvedLines: {
                        active: true,
                        apply: true,
                        fit: true,
                        fitPointDist: 0.0001,
                    }
                }
            });

        });

    </script>
</body>
</html>